.navbar {
  display: flex;
  background-color: black;
  height: 75px;
  width: 100%;
  color: white;
  flex-direction: row;
  align-items: center;

  .logo {
    margin-left: 200px;
    margin-right: 400px;
    height: 60px;
    width: 350px;
  }
  .search-icon-container {
    display: flex;
    margin-right: 50px;
    color: white;
    background-color: rgb(59, 59, 59);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .login-icon-container {
    margin-right: 50px;
    color: white;
    background-color: rgb(59, 59, 59);
    min-width: 100px;
     width: fit-content;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    button{
      background-color: transparent;
      border: 1px white solid;
      border-radius: 10px;
      color: white;
      margin-left: 10px;
    }
  }
}
@media only screen and (max-width: 450px) {
  .navbar {
    display: flex;
    width: 100%;
    margin: 0;
    .logo {
      margin-left: 10px;
      margin-right: 0;
      height: 30px;
      width: 180px;
    }
    .logo-container {
      margin-right: 10px;
    }
    .search-icon-container {
      margin-right: 5px;
      color: white;
      background-color: rgb(59, 59, 59);
      width: 40px;
      height: 35px;
      border-radius: 10px;
      text-align: center;
    }
    .login-icon-container {
      margin-right: 5px;
      color: white;
      background-color: rgb(59, 59, 59);
      width: 100px;
      height: 35px;
      border-radius: 10px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .search {
      padding-top: 33%;
    }
  }
}
